
<div class="container">

<mat-card style=" width:550px">

    <div class="row">
        
            <mat-label> Email</mat-label>
            <input type="text" class="form-control">
            </div>
        <div class="row">
            <mat-label>Password</mat-label>
            <input type="text" class="form-control">
    </div>
    <div class="row" style="margin-top:20px">
        <button class="btn btn-primary">
            Login
        </button>
    </div>
    <p>
    New user? <a href="http://localhost:4200/register"> click here </a> to register
    </p>
    <p><a href="http://localhost:4200/getUsers"> View Registerd Users </a>  </p>
</mat-card>



    

</div>




<router-outlet></router-outlet>